<ul id="menu1">
    <?php
    if (isset($this->rubriques)) {
        ?>
        <?php foreach ($this->rubriques as $key => $rubrique) {
            $pages = $rubrique->getChildren();
            ?>
            <li<?php echo $key == 0 ? ' class="first_nav"' : ''; ?>>
                <a onclick="return false;" href="<?php echo $rubrique->getMeta('rewriting'); ?>/<?php echo count($pages) == 0 ? '' : $pages[0]->getMeta('rewriting') . '.html'; ?>"><?php echo $rubrique->getMeta('titre'); ?></a>
                <ul<?php echo $key == count($this->rubriques) - 1 ? ' class="last_menu"' : ''; ?>>
                        <?php foreach ($pages as $page) { ?>
                        <li>
                            <?php
                            if ($page->getMeta("id_gabarit") == 1) {
                                $firstChild = $page->getFirstChild();
                                if ($firstChild) {
                                    ?>
                                    <a href="<?php echo $rubrique->getMeta('rewriting'); ?>/<?php echo $page->getMeta('rewriting') . '/' . $firstChild->getMeta('rewriting') . '.html'; ?>"><?php echo $page->getMeta('titre'); ?></a>
                                <?php }
                            } else {
                                ?>
                                <a href="<?php echo $rubrique->getMeta('rewriting'); ?>/<?php echo $page->getMeta('rewriting') . '.html'; ?>"><?php echo $page->getMeta('titre'); ?></a>
                <?php } ?>
                        </li>
            <?php } ?>
                </ul>
            </li>
        <?php } ?>
    <?php
}
?>

</ul>

